.env
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.db
*.sqlite*
logs/
*.log
.local_media/
catboost_info/
models/
*.egg-info/
Untitled*.ipynb
output.txt
dummy*
test.jpg
